* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: azure;
  font-family: sans-serif;
  color: #333;
  line-height: 1.6;
}

.navbar {
  background-color: #7c7c7c;
  padding: 10px 0;
}
.navbar .navbar-nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-size: 18px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white !important;
  transition: 0.3s ease;
}
.nav-link:hover {
  color: #ffcc00 !important;
  transform: scale(1.1);
}

.navbar-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.spaced-link {
  margin-left: 20px;
  margin-right: 20px;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  transition: transform 0.3s ease;
}

h1 {
  font-size: 50px;
  font-family: Georgia;
  text-align: center;
  border-bottom: solid;
  border-radius: 10%;
  margin: 10px;
}

.introduccion {
  font-family: sans-serif;
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1300px;
  margin: 60px auto;
  padding: 30px;
}

.section {
  padding: 40px;
  flex: 1 1 48%;
  max-width: 600px;
  text-align: center;
}

h2 {
  font-family: Georgia;
  font-size: 35px;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  line-height: 1.8;
  color: #444;
}

.image-container img {
  max-width: 40%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.image-container img:hover {
  transform: scale(1.05);
}

footer {
  background-color: #7c7c7c;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 15px;
  width: 100%;
}

.requisitos {
  font-size: 20px;
  width: 100%;
  height: 70px;
  text-align: center;
  padding-top: 40px;
  border-radius: 3%;
}

.navbar {
  background-color: #7c7c7c;
}

.navbar-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-link {
  font-size: 30px;
  font-family: serif;
}

.spaced-link {
  margin-left: 20px;
  margin-right: 20px;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  transition: transform 0.3s ease;
}

.spaced-link:hover {
  transform: scale(1.1);
  color: white;
}

.socios {
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: solid 1px;
  border-radius: 3%;
  margin: auto;
}
.socios h2 {
  margin: 5px;
  border-bottom: solid 1px;
  width: 130px;
}
.socios h2 p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
}
.socios h2 p li {
  padding-left: 20px;
  margin: 10px;
}

section {
  height: 100px;
  width: 90%;
  align-content: center;
  margin: auto;
}
section input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.back a {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
}

.spaced-link {
  margin-left: 20px;
  margin-right: 20px;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  transition: transform 0.3s ease;
}

.spaced-link:hover {
  transform: scale(1.1);
  color: white;
}

.card {
  width: 25rem;
  height: 25rem;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img-top {
  width: 50%;
}

.card-text {
  font-family: sans-serif;
}

.img-logo {
  max-width: 30px;
  height: auto;
  border-radius: 4px;
  text-decoration: none;
  margin: 15px;
}

div a {
  color: black;
  font-size: x-large;
  background-color: white;
  border-radius: 5px;
}

.spaced-link {
  margin-left: 20px;
  margin-right: 20px;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  transition: transform 0.3s ease;
}

.spaced-link:hover {
  transform: scale(1.1);
  color: white;
}

.section-contacto {
  display: flex;
  flex-wrap: wrap;
}

.card-img-logo {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.spaced-link {
  margin-left: 20px;
  margin-right: 20px;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  transition: transform 0.3s ease;
}

.spaced-link:hover {
  transform: scale(1.1);
  color: white;
}

.seccion-especialidades {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.lista {
  flex: 1;
  padding: 10px;
  text-align: center;
}
.lista ul.todas-especialidades {
  list-style-type: none;
  font-family: sans-serif;
  background-color: white;
}

.imagenes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}

.imagenes img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.otras-especialidades {
  background-image: linear-gradient(to bottom, white, gray);
  text-align: center;
  font-family: sans-serif;
}

/*# sourceMappingURL=style.css.map */
