.requisitos{
    font-size: 20px;
    width: 100%;
    height: 70px;
    text-align: center;
    padding-top: 40px;
    border-radius: 3%;
}
.navbar{    
    background-color: $colorprimario;
}
.navbar-center {
    display: flex;
    justify-content: center;
    width: 100%; 
}
.nav-link{
    font-size: 30px;
    font-family:serif;
}
.spaced-link {
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    transition: transform 0.3s ease;
}
.spaced-link:hover {
    transform: scale(1.1);
    color: white;
}
.socios{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: solid 1px;
    border-radius: 3%;
    margin: auto;
    h2{
        margin: 5px;
        border-bottom: solid 1px;
        width: 130px;
        p{
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 5px;
            li{
                padding-left: 20px;
                margin: 10px;
            }
        }
    }
}
section{
    height: 100px;
    width: 90%;
    align-content: center;
    margin: auto;
    input{
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}
.back a{
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}