.redes {
    display: flex;
    flex-direction: column;
    margin: 50px;
    img {
        max-width: 30px;
        height: auto;
        border-radius: 4px;
        text-decoration: none;
        margin: 5px;
    }
}